@using Authority.Emails.ViewModels

@model ExternalConnectionViewModel
@{
    ViewData["Title"] = "Připojení účtu";
}
@if (Model.User.Gender == Authority.Data.Gender.Female)
{
    <p>Milá uživatelko,</p>
}
else
{
    <p>Milý uživateli,</p>
}
<p>K Vašemu stávajícímu účtu v naší aplikaci je nyní připojen účet z sociální sítě <b>@Model.Provider</b>  <b>@Model.ExternalUserId</b>.</p>
