@model ForgottenPasswordInputModel

<div class="container">
    <h1>Obnovení zapomenutého hesla</h1>
    <p>Zadejte emailovou adresu registrovanou s Vaším uživatelským účtem.</p>
    <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
        <partial name="_ValidationSummary" />
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Odeslat mail</button>
        <a class="btn btn-secondary" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">Zpět</a>
    </form>
</div>