@model ChangePasswordInputModel
    <div class="container">
        <h1>Změna nebo vytvoření hesla</h1>
        <partial name="_ValidationSummary" />
        <form id="change-password-form" method="post">
            <div class="form-group">
                <label asp-for="OldPassword"></label>
                <input asp-for="OldPassword" class="form-control" disabled="@(Model.PasswordExists == false)" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
                <p>Minimální délka hesla je 12 libovolných znaků.</p>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Nastavení hesla</button>
            <a asp-action="Show" class="btn btn-secondary">Zpět</a>
        </form>
    </div>
