@model ResetPasswordInputModel

<h1>Resetování hesla</h1>
<p>Nastavte své nové heslo.</p>
<div class="container">
    <form method="post">
        <partial name="_ValidationSummary" />
        <input asp-for="Code" type="hidden" />
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Nastavit</button>
    </form>
</div>